:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(222, 222, 222);
  background-color: rgb(38, 38, 38);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
}


.app {
  width: 80%;
  min-height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10em;
  position: relative;
}

section#content {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: max-content;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 5rem;
}

header h1 {
  font-size: 3.5em;
  font-weight: bolder;
}

.col-container {
  margin-top: 8em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
  align-items: start;
}

.img-container {
  display: flex;
  justify-content: right;
  padding: 2em;
  left: 0;
  top: 5em;
}

.img {
  height: 20em;
}

.artist-container {
  margin-left: 25rem;
  padding-top: 2em;
  position: relative;
  z-index: 1;
}

.tracklist {
  text-align: left;
}

details {
  max-height: 3rem;
  padding: 0.5rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
}


details > summary {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  border-bottom: 0.2px solid;
  border-color: #9a9de8;
  width: 15rem;
}

details > summary::before {
  content: "+";
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  color: #9a9de8; 
  position: relative;
  left: 0;
}

details[open] > summary::before {
  content: "-";
}

details > ol {
  margin: 0;
}

details[open] > summary {
  color: #9a9de8;
}

details[open]{
  background-color: rgba(255, 255, 255, 0.1);
  height: auto;
  max-height: none;
}
